*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../fuentes/Roboto-Bold.ttf);	
  }
  @font-face {
    font-family: Roboto-Medium;
    src: url(../fuentes/Roboto-Medium.ttf);
  }
:root{
    --fuentetitulo:"Roboto-Bold";
    --fuenteparrafo:"Roboto-Medium";
   --naranja-pag:rgba(254, 129, 1, 1);
   --azul-pag:rgba(60, 160, 216, 1);
   --grisfondogpenascal:rgba(235, 231, 231, 0.75);
    }



/* ------------------INICIO HEADER------------------- */
.container-General{
    width: auto;

}
.bg-principal{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/header-background.png);
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----- header - navegador-------- */

.cont-menu{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 40%;  
}
.cont-apartados{
    width: 100%;
}

/* .nav-idioma{
    color: rgb(255, 255, 255);
    width: 25%;
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    justify-content: space-around; 
}
.nav-idiom:hover{
    background-color: var(--azul-pag) ;
    border-radius: 5%;
}
  .nav-idiom:focus{
    background-color:var(--naranja-pag);
  }
  .nav-idiom{
    border-right: 2px solid white;
  } */
  .dropdown{
    display: flex;
  }
  

/* ----header - presentación---- */
.Cont-header__presentIturritek{
    color: #fff;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Cont-header__presentIturritek-title{
    font-size: calc(2.3em + 3.5vw);
    text-align: center;
    font-family: var(--fuentetitulo);
}
.Cont-header__presentIturritek-text{
    width: 50%;
    margin: 2%;
    font-size: calc(0.7em + 0.4vw);
    text-align: center;
    font-family: var(--fuenteparrafo);
}
.contactanosbtn{
    color: #fff;
    text-decoration: none;
}
.presentIturritek__Btn-contact{
    text-decoration: none;
    font-size: 1.3rem;
    font-family: var(--fuenteparrafo);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--naranja-pag);
}

/* --------------INICIO ABOUT-US -------------------- */
.aboutUs{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
 
}
.aboutUs__img{
    width: 90%;
    height: 90%;
}
.aboutUs__article{
    width: 50%;
    padding: 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.aboutUs__article--title{
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    font-family: var(--fuentetitulo);
    padding-top: 7%;
}
.aboutUs__article--info{
    font-size: clamp(0.7rem, 4vw, 1.2rem);
    margin: 2%;
    font-family: var(--fuenteparrafo);
}

/* ------------------INICIO SOCIAL PROMISE------------------- */
.socialPromise{
    padding-bottom: 5%;
    margin-bottom: 5%;
}
.socialPromise__list--parallax{
    overflow: scroll;
   background-image: url(../imagenes/compromiso.jpg);
   background-attachment: fixed;
    background-size:cover;
    background-position-y: 0%;
    background-repeat: no-repeat;  
    height: 60vh;
}
::-webkit-scrollbar{
    display: none;
}
.socialPromise__article{
    width: 100%;
    padding-top: 5%;
 }
 .socialPromise__article__cont--flex{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
 }
.socialPromise__article--title{
    font-family: var(--fuentetitulo);
    font-size: clamp(2.5rem, 1.5vw, 5rem);
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 3%;
    text-decoration: underline var(--azul-pag);
}
.socialPromise__article--paragraph{
    font-family: var(--fuenteparrafo);
    font-size: clamp(1.3rem, 1.5vw, 2rem);
    margin-left: 3%;
}
/* ------------------FIN SOCIAL PROMISE------------------- */


/* ------------------INICIO SERVICES------------------- */

.services-container__title{
    font-family: var(--fuentetitulo);
    font-size: clamp(2.5rem, 1.5vw, 2rem);
    display: flex;
    justify-content: center;
    text-decoration: underline var(--naranja-pag);
    padding-bottom: 5%;
}

.services-container{
    width: 94%;
    height: 165vh;
    background-image: url(../imagenes/BG\ SERVICIOS.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-inline: 5%;
    margin-bottom: 15%;
}
.services-container__box--upper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
}
.box__upper--title{
    font-family: var(--fuentetitulo);
    font-size: clamp(2rem, 1.5vw, 2rem);
    padding-top: 2%;
    padding-bottom: 4%;
    margin-left: 10%;
}
.services-container__box--down{
    display:flex;
    justify-content: space-between;
}
.box__down--title{
    font-family: var(--fuentetitulo);
    font-size: clamp(2rem, 1.5vw, 2rem);
    display: flex;
    justify-content: end;
    margin-right: 5%;
    padding-bottom: 4%;
}
.services__cont--cards{
    width: 30%;
    height: 70vh;
    background-color: transparent;
}

.services__cont__cards--imagen img{
    width: 100%;
    border-radius: 0.5vw;
}
.services__title-position{
    font-family: var(--fuentetitulo);
    font-size: clamp(1.5rem, 1.5vw, 2rem);
}

.services__cont__cards--info{
    padding: 9%;
    height: 24vh;
    margin: 0 auto;
    margin-top: 3%;
    background-color: #fff;
    border-radius: 0.5vw;
    text-align: center;
    box-shadow: 0.1px 0.1px 2px 2px rgba(161, 161, 161, 0.377);
}
.services__cont__cards--title{
    font-family: var(--fuentetitulo);
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    margin-bottom: 5%;
}
.services__cont__cards--paragraph{
    font-family: var(--fuenteparrafo);
}
/* ------------------FIN SERVICES------------------- */

/*-------------------INICIO GRUPO PÉNASCAL-------------------*/
.grupoPeñascal{
    width: 100%;
    height: 85vh;
    background-color: var(--grisfondogpenascal);
    position: relative;
    padding-top: 1.5%;
}
.grupoPeñascal__cont--titulo{
    width: 60%;
   float: right;
   box-shadow: 0px 2.5px 0px 0px rgba(198, 196, 196, 0.377);
}
.grupoPeñascal__titular{
font-family: var(--fuentetitulo);
font-size: clamp(2.5rem, 1.5vw, 3rem);
}

.grupoPeñascal__img8{
    position: absolute;
    	left: 4%;
        top: 27%;
}
.grupoPeñascal__img4{
    position: absolute;
    left: 27%;
    top: 19%;
}
.grupoPeñascal__img6{
    position: absolute;
    left: 6%;
    top: 45%;
}
.grupoPeñascal__img3{
    position: absolute;
    left: 24%;
    top: 43%;
}
.grupoPeñascal__img5{
    position: absolute;
    left: 46%;
    top: 21%;
}
.grupoPeñascal__img9{
    position: absolute;
    left: 65%;
    top: 18%;
}
.grupoPeñascal__img10{
    position: absolute;
    left: 83%;
    top: 26%;
}
.grupoPeñascal__img1{
    position: absolute;
    left: 43%;
    top: 47%;
}
.grupoPeñascal__img7{
    position: absolute;
    left: 38%;
    top: 67%;
}
.grupoPeñascal__img11{
    position: absolute;
    left: 55%;
    top: 66%;
}
.grupoPeñascal__img2{
    position: absolute;
    left: 72%;
    top: 50%;
}
/*-------------------FIN GRUPO PÉNASCAL-------------------*/

/*-------------------INICIO FOOTER-------------------*/
.piedepagina{
    width: 100%;
    height: 70vh;
    background-color: black;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container-piedepag{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.logos-container{
    width: 30%;
    height: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: 20%;
}
.logo-footer{
    cursor: pointer;
}

.container-contacto{
    width: 33%;
    height: 70%;
    color: rgb(255, 255, 255);   
}

.container-contacto h3{
font-size: 2vw;
}

.title-underline{
    width: 60%;
    height: 2px;
    border: none;
    background-color: #FE8101;
}

.container-contacto-info{
    width: 80%;
    margin-block-start: 10%;
    font-size: 1.3vw;
}

.remarked{
color: #FE8101;
font-weight: bold;
}

.container-direccion{ 
    height: 70%;
    width: 33%;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: space-between; 
}

.direccion-title{
    font-size: 2vw;
}

.container-legal{
    width: 80%;
    margin: 0 auto;
    height: 10vh;
    color: white;
}

.legal-line{
    width: 100%;
    height: 3px;
    border: none;
    background-color: #FE8101;
}

.legalidades{
    margin-block-start: 2%;
display: flex;
justify-content: space-between;
}

.legalidades a{
    text-decoration: none;
    color: white;
}
/* ------- Avisos legales y politicas de privacidad------------ */
.bg-principal-legal{
    width: 100%;
    height: 100%;
    background-image: url(../imagenes/header-background.png);
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ---botones legalidades---- */
.btns-legalidad{
    height: 8vh;
    background-color: #ffffff76;
    margin: 0 auto;
    width: 70%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-block-start:2%;
}
.btn-legalidad{
    width: 50%;
    height: 100%;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: var(--fuenteparrafo);
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(185, 124, 124, 0.53);
}
.btn-legalidad:hover{
    background-color:var(--naranja-pag);
}
.tabs-legalidad-gen{
    padding: 3%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tabs-legalidad{
    background-color: #739bc58b;
    width: 80%;
    padding: 4%;

}
.tabs-politicas{
    display: none;
}





@media screen and (max-width: 720px) {
    /*-------------------INICIO HEADER------------------- */
    .bg-principal{
        background-position: center;
    }
    .dropdown{
        width: 25%;
        margin-inline: 5.5%;
        justify-content: space-between;
        
    }
   .linkscript{
   margin-inline: 5.5%;
   }
   .cont-apartados{
   background-color: rgba(209, 221, 228, 0.416);
   position: absolute;
   top:100%;
   }

   /*-------------------HEADER PRESENTACION------------------- */
   .Cont-header__presentIturritek{
    height: 100%;  
}
   .Cont-header__presentIturritek-title{
    margin-top: 10%;
    margin-bottom: 5%;
}
  .Cont-header__presentIturritek-text{
    margin-bottom: 10%;
  }
    /* ----NAVEGADOR---------- */
    .logo-cont{
        width: 30%;
    }
    .logo{
        width: 90%;
    }
    /* -------------ABOUT US----------------- */
    .aboutUs{
         height: 100%;
        flex-flow: column;
        justify-content: space-between;
    }
    .aboutUs__cont-img{
        width: 60%;
        margin: 5%;
    }
    .aboutUs__img{
        width: 90%;
    }
    .aboutUs__article{
        width: 70%;
        margin: 5%;
    
    }

    /*---------COMPROMISO SOCIAL----------*/
    .socialPromise__list--parallax{
        height: 50vh;
        background-size: cover;
        background-position-y: top;
        background-position-x: 30%;
        
       
    }
    .socialPromise__article{
        margin-block-start: 3%;
        padding-inline: 7%;
    }

    .socialPromise__article__cont--flex{
        padding-block-start: 10%;
    }

    .socialPromise__article--paragraph{
        font-size: 4vw;
    }

    /*-------------------GRUPO PEÑASCAL------------------- */
  .grupoPeñascal{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .responsiveImg{
    position: static;
    width: 40%;
    padding: 2%;
  }
  .grupoPeñascal__titular{
    font-size: 2rem
    }
  
    /* ------------------INICIO SOCIAL PROMISE------------------- */
    .socialPromise__article__cont--flex{
        width: 90%;
        text-align: justify;
     }
     .socialPromise__article--img{
        width: 10vw;
     }
    /*-------------------SERVICIOS------------------- */
     .services-container{
        width: 94%;
        height: auto;
        padding-inline: 5%;
        margin-bottom: 15%;
    }
    .services-container__box--upper{
        flex-direction: column;
        align-items: center;
     }
    .services-container__box--down{
       flex-direction: column;
       align-items: center;
    }
    .services__cont--cards{
        width: 90%;
        height: auto;
        background-color: transparent;
        margin-bottom: 15%;
    } 
    .box__down--title{
        font-family: var(--fuentetitulo);
        font-size: clamp(2rem, 1.5vw, 2rem);
        display: flex;
        justify-content: center;
        padding-bottom: 4%;
        padding-top: 40%;
    }
    .services__cont__cards--info{
        height: auto;
        margin-top: 0%;
    }

    
    /*-------------------FOOTER-------------------------*/
    .piedepagina{
        width: 100%;
        height: 120vh;
        background-color: black;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding-block-start: 5%;
    }

    .container-piedepag{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .logos-container{  
        width: 80%;
        height: 50%;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        gap: 20%;
    }

    .Cont-header__navegador_logo{
        width: 30%;
        border: 2px solid red;
    }

    .logo-footer{
        width: 100%;
    }
    
    .container-contacto{
        width: 70%;
        height: 70%;
    }
    
    .container-contacto h3{
        font-size: 5vw;
        text-align: center;
    }
    
    .title-underline{
        width: 100%;
        height: 2px;
        border: none;
        background-color: #FE8101;
        align-items: center;
    }
    
    .container-contacto-info{
        width: 100%;
        margin-block-start: 10%;
        font-size: 4vw;
        text-align: center;
    }
    
    .remarked{
        color: #FE8101;
        font-weight: bold;
    }
    
    .container-direccion{
        height: 70%;
        width: 70%;
        color: white;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        margin-block-start: 5%;
    }
    
    .direccion-title{
        font-size: 5vw;
        text-align: center;
    }
    
    .container-legal{
        width: 80%;
        height: 20vh;
        margin: 0 auto;
        height: 10vh;
        color: white;
    }
    
    .legal-line{
        width: 100%;
        height: 2px;
        border: none;
        background-color: #FE8101;
    }
    
    .legalidades{
        margin-block-start: 2%;
        display: flex;
        justify-content: space-between;
        font-size: 3vw;
    }
    
    .legalidades a{
        text-decoration: none;
        color: white;
    }
    
    .legalidades h5{
        font-size: 3vw;
    }

}


